<nav
  [class.dark-theme]="darkMode"
  [class.light-theme]="!darkMode"
  class="navbar navbar-expand-lg justify-content-between px-3"
>
  <a class="navbar-brand" routerLink="/">
    <img
    [src]="darkMode ? 'assets/IgniteInsight_logo3_removebg_white.png' : 'assets/IgniteInsight_logo3_removebg.png'"
      width="36"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <!-- Mobile nav toggle-->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/articles']">Articles</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/admin']">Write</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
      </li>
      
      <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
    </ul>
  </div>
  <!-- <button (click)="openLoginRegisterModal($event)" 
    class="btn btn-outline-success my-2 my-sm-0"
    type="button"
    data-mdb-toggle="modal"
    data-mdb-target="#login-register-modal"
  >
    Login/Register
  </button> -->

  <button (click)="toggleMode()" class="theme-toggle-button">
    <img
      [src]="darkMode ? 'assets/II_moon2.png' : 'assets/II_sun2.png'"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt="Toggle Dark Mode"
    />
  </button>

  <form
    class="form-inline"
    (submit)="onSearch(search.value); $event.preventDefault()"
  >
    <input
      #search
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</nav>
