<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/Mountains.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Welcome to IgniteInsight!</h1>
          <span class="subheading">
            A personal blogging platform that showcases the musings, insights,
            and technical knowledge of its users.
          </span>
          <p></p>
          <a class="btn btn-danger" [routerLink]="['/articles']"
            >Browse new articles</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
<body
[class.dark-theme]="darkMode"
  [class.light-theme]="!darkMode"
  class="d-flex flex-column h-100"
>
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- ngFor let article of articles be first 3 articles -->
          <div class="container">
            <div class="row py-3">
              <p class="lead">Top articles today</p>
              <!-- ngFor let article of articles be first 3 articles -->
              <div class="col-lg-4" *ngFor="let article of topArticles">
                <!-- Blog post-->
                <a [routerLink]="['/article', article._id]" style="text-decoration: none; color: inherit;">
                  <div class="mb-4">
                    <img
                      class="img-fluid rounded"
                      style="height: 300px; object-fit: cover"
                      [src]="
                        article.imageUrl || 'assets/IgniteInsight_logo3.png'
                      "
                      alt="..."
                    />
                    <div>
                      <div class="small text-muted">
                        {{ article.date | date : "short" }}
                      </div>
                      <h2 class="h4 post-title">{{ article.title }}</h2>
                      <div
                        class="card-text"
                        style="
                          height: 100px;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        "
                      >
                        <div
                          [innerHTML]="article.content | slice : 0 : 100"
                        ></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>
