header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  header .logo {
    width: 100px;
  }
  
  header nav ul {
    display: flex;
    gap: 20px;
  }
  
  header .subscribe-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  main {
    padding: 20px;
  }
  
  main article {
    margin-bottom: 20px;
    width: 100%;
  }
  
  main article h2 {
    margin-bottom: 10px;
  }
  
  main article p {
    margin-bottom: 5px;
  }
  
  .masthead {
    height: 50vh; /* Adjust this value to change the height of the header */
    background-attachment: fixed; /* This makes the background image follow the scroll */
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  }
  .page-heading {
    color: white;
  }
  .card-text {
    /* Make card text black and not underlined */
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .post-title {
    /* Make post title black and not underlined */
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .dark-theme .container {
    background-color: rgba(33,37,41,255);
    color: #fff;
  }
  
  .light-theme .container {
    background-color: #fff;
    color: rgba(33,37,41,255);
  }
  .background {
    background-color: var(--bgColor);
    min-height: 100vh;
  }

  .btn-custom {
    background-color: var(--textColor);
    color: var(--bgColor);
  }
  
  